.bgpng {
    position: relative;


}

.bgpngDetils {
    position: absolute;
    margin-top: -450px;
    width: 90%;
    /* border: 1px solid red; */
    /* padding: 20px; */
    margin-left: 15px;



}

.bgpngDetils h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
    /* border: 1px solid red; */
    width: 220px;
    margin: auto;


}

.bgpngDetils p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    width: 220px;
    margin: auto;



}

.bgpngDetils button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    width: 220px;
    margin: auto;



}